<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "container">

        <form action="/register_user", method="post">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <label>Your first name</label>
            <input name="first_name" type="text">

            <label>Your last name</label>
            <input name="last_name" type="text">

            <label>Your email</label>
            <input name="email" type="text">
            
            <label>Password</label>
            <input name="password" type="text">

            <label>Confirm Password</label>
            <input name="confirm_password" type="text">
            <input type="submit" value="Create">
        </form>

        <a href="/login" class="home">Log in</a>
    </div>
</body>
</html>